%nav
	%ul#topnav
		%li
			= link_to 'Home', '/'
		%li
			= link_to 'About', about_path
		%li
			= link_to 'Contact', contact_path
%h1#home 
	%p= link_to 'Eclectic Expressions', '/'

%h3
	%p Handmade Macram&#233; Jewelry