%nav
	%ul#topnav
		%li
			= link_to 'Home', '/'
		%li
			= link_to 'About', about_path
		%li
			= link_to 'Contact', contact_path
#home	
	%h1 
		%p= link_to 'Eclectic Expressions', '/'

	%h3
		%p Handmade Macram&#233; Jewelry